$base-orange: rgba(227, 184, 115, 1);
$base-orange-hover: rgba(227, 184, 115, 0.7);
$base-grey: rgba(255, 255, 255, 0.3);
$base-brown: rgba(19, 19, 19, 1);
$base-white: rgba(255, 255, 255, 1);
$base-white-inactive: rgba(255, 255, 255, 0.3);
